name: Docker

on:
  pull_request_target:

jobs:
  say-hello:
    name: Say Hello
    runs-on: ubuntu-latest
    steps:
      - name: Print to Log
        id: print-to-log
        uses: QuebecBashing/docker_action@main
